* {
	margin: 0;
	padding: 0;
}

body { /*16px - стандартный размер шрифта*/
	font: 100%/1.5em Arial, Helvetica, sans-serif;
	color: #000;
}

.container {
	background: #e2e2e2;
	width: 90%; /*960px - по умолчанию*/ 
	margin: 0 auto;
	display: table;
}

h2 {
	font-size: 2em;
}

section {
	display: table-cell;
/*	width: 65%;
	float: left;*/
}

aside {
	display: table-cell;
/*	width: 30%;
	float: right;*/
	background: #d1d1d1;
}

footer {
	display: table-row;
	/*clear: both;*/
}