ul {
    font-family: Arial;
    color: #333;
/*    padding: 0;*/
    
    list-style: inside square url(https://telonko.com/img/forum/themes.gif);
/*
    list-style-type:square;
    list-style-position: inside;
    list-style-image: url(https://telonko.com/img/forum/themes.gif);
*/
}