/*http://subtlepatterns.com/patterns/extra_clean_paper.png
фон для страницы*/

body {
    background: url(http://subtlepatterns.com/patterns/extra_clean_paper.png);
}

.button {
    display: inline-block;
    margin: 40px;
    width: 100px;
    height: 100px;
    background: url(http://subtlepatterns.com/patterns/extra_clean_paper.png);
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 3px 20px rgba(0, 0, 0, .25), inset 0 2px 0 rgba(255,255,255,.6), 0 2px 0 rgba(0,0,0,.1), inset 0 0 20px rgba(0,0,0,.1); 
}

.button:hover {
    box-shadow: inset 0 0 20px rgba(0,0,0,.2), 0 2px 0 rgba(255,255,255,.4), inset 0 2px 0 rgba(0,0,0,.1);  
}

.btn-photo {
    background: url(http://defaulticon.com/images/icons32x32/MD-camera-photo-alt-2.png?itok=W3ZqNyED) center no-repeat;
}
.btn-photo:hover {
    background-position: center 115%; 
}

/*
.button::after {
    content: '';
    width: 100px;
    height: 100px;
    display: block;
    opacity: .7;
}
*/

/*
.btn-photo::after {
    background: url(http://defaulticon.com/images/icons32x32/MD-camera-photo-alt-2.png?itok=W3ZqNyED) center no-repeat;
}

.btn-settings::after {
    background: url(http://defaulticon.com/images/icons32x32/settings.png?itok=f3WwNrKf) center no-repeat;
}

.btn-tag::after {
    background: url(http://defaulticon.com/images/icons32x32/tag.png?itok=kt2pY_qZ) center no-repeat;
}

.button:hover::after {
    background-position: center 115%;        
}
*/








