/*Часть 11. Спрайты*/
body {
    background: #eee;
}
ul {
    list-style: none; margin: 0; padding: 0;
}

.buttons li {
    background: url(sprite.gif) no-repeat;
    display: inline-block;
    cursor: pointer;
    width: 124px;
    height: 32px;
    cursor: pointer;
     
}

.buttons .button1 {
    background-position: -67px -48px;
}
.buttons .button2 {
    background-position: -198px -48px;
}
.buttons .button3 {
    background-position: -67px -150px;
}

.buttons .button1:hover {
    background-position: -67px -80px;
}
.buttons .button2:hover {
    background-position: -198px -80px;
}
.buttons .button3:hover {
    background-position: -67px -182px;
}

.buttons .button1:active {
    background-position: -67px -112px;
}
.buttons .button2:active {
    background-position: -198px -112px;
}
.buttons .button3:active {
    background-position: -67px -214px;
    
}